
body{
  background: rgba(54, 51, 52, 0.95);
  @extend %mon-400;
  font-size: 16px;
  color: #fff;
  &::-webkit-scrollbar{
    border-radius: 2.5px;
    width: 4px;
    
  }
  &::-webkit-scrollbar-track{
    background-color: #424143;
    
  }  
  &::-webkit-scrollbar-thumb{
    background-color: #E17B31;
    height: 10px;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;  
  // overflow-x: hidden;
}

.modal-font__close,
.modal-picture__close{
    position: absolute;
    right: 40px;
    top: 40px;
}

.swiper,
.swiper-questions,
.catalog-swiper,
.result__swiper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    

  }
  .swiper__arrows{
    display: flex;
  }
  .swiper-button-next-reviews,
  .swiper-button-next-questions,
  .swiper-button-next-catalog,
  .swiper-button-next-result{
    order: 2;
    cursor: pointer;
  }
  .swiper-button-prev-reviews,
  .swiper-button-prev-questions,
  .swiper-button-prev-catalog,
  .swiper-button-prev-result{
    order: 1;
    cursor: pointer;
  }
  .swiper-wrapper {
    position: relative;
    box-sizing: border-box;
  }
  .swiper-pagination__wrapp{
    @include flex-between;
  }
  .swiper-pagination{
    // @include center-item-x;
    position: static;
  }
  .swiper-pagination-bullet{
      width: 12px;
      height: 12px;
      border: 0.5px solid rgba(255, 255, 255, 0.5);
      background-color: transparent;
      &.swiper-pagination-bullet-active{
        background-color: $accent;
        border: 0.5px solid $accent;
      }
    &:not(:last-child){
      margin-right: 10px;
    }
  }