
body{
  background: rgba(54, 51, 52, 0.95);
  @extend %mon-400;
  font-size: 16px;
  color: #fff;
  &::-webkit-scrollbar{
    border-radius: 2.5px;
    width: 4px;
    
  }
  &::-webkit-scrollbar-track{
    background-color: #424143;
    
  }  
  &::-webkit-scrollbar-thumb{
    background-color: #E17B31;
    height: 10px;
  }
}

.page-link{
  letter-spacing: -0.05em;
  color: #FFFFFF;
  line-height: 20px;
  @extend %mon-600;
  transition: all .3s;
  text-decoration: underline;
  &:hover{
    color: $accent;
  }
}

.page-button{
  border: 1px solid #E17B31;
  border-radius: 35px;
  width: 232px;
  height: 64px;
  @include flex-center;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  line-height: 20px;
  @extend %mon-700;
  transition: all .3s;
  &:hover{
    background-color: $accent;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;  
}

.modal-font__close,
.modal-picture__close{
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 40px;
}

.swiper,
.swiper-questions,
.catalog-swiper,
.result__swiper,
.blog__slider,{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    

  }
  .swiper__arrows{
    display: flex;
  }
  .swiper-button-next-reviews,
  .swiper-button-next-questions,
  .swiper-button-next-catalog,
  .swiper-button-next-result{
    order: 2;
    cursor: pointer;
  }
  .swiper-button-prev-reviews,
  .swiper-button-prev-questions,
  .swiper-button-prev-catalog,
  .swiper-button-prev-result{
    order: 1;
    cursor: pointer;
  }
  .swiper-wrapper {
    position: relative;
    box-sizing: border-box;
  }
  .swiper-pagination__wrapp{
    @include flex-between;
  }
  .swiper-pagination{
    // @include center-item-x;
    position: static;
  }
  .swiper-pagination-bullet{
      width: 12px;
      height: 12px;
      border: 0.5px solid rgba(255, 255, 255, 0.5);
      background-color: transparent;
      &.swiper-pagination-bullet-active{
        background-color: $accent;
        border: 0.5px solid $accent;
      }
    &:not(:last-child){
      margin-right: 10px;
    }
  }


  // .header-position{
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  //   right: 0;
  //   animation-name: show-header;
  //   animation-duration: .3s;
  // }

  // @keyframes show-header{
  //   0%{
  //     top: 100px;
  //     opacity: 0;
  //   }
  //   100%{
  //     top: 0;
  //     opacity: 1;
  //   }
  // }
  .header-hide{
    transform: translateY(-100px);
  }
  .burger{
    width: 40px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: none;
    span{
      position: absolute;
      width: 40px;
      height: 2px;
      background-color: #fff;
      left: 0;
      top: 0;
      &:nth-child(2){
        top: 11px;
      }
      &:last-child{
        top: 22px;
      }
    }
  }

  .white::before{
      background-color: #fff;
      }
      .red::before{
        background-color:#D63135;
      }
      .green::before{
        background-color: #23B223;
      }
      .brown::before{
        background-color: #785939;
      }
      .dark-blue::before{
        background-color:#002137;
      }
      .grey::before{
        background-color:#9F9F9F;
      } 
      .black::before{
        background-color:#000;
      }
      .white-red::before{
        background-color:#EC2323;
      }
      .blue::before{
        background-color:#3333F1;
      }