

@media (max-width: 1800px){
  .details{
    &__content{
      background-position: right -130px bottom;
    }
  }
  .present-2{
    background-position: center;
  }
}

@media (max-width: 1570px){
  .details{
    &__content{
      background-position: right -200px bottom;
    }
  }
  .scroll-towel{
    .scroll-towel__text-sticky{
      margin: 0 auto 0 40px;
    }
    .scroll-towel__text-box--second{
      height: 750px;
    }
  }
  .scroll-thread{
    .scroll__text-sticky{
      margin-right: 60px;
    }
  }
}

@media (max-width: 1440px){
  .header{
    &__content{
      &-item{
        background-position: center;
      }
    }
  }
  .scroll-water{
    .scroll__text-sticky{
      height: 115px;
    }
    .scroll-water__text-box--second{
      height: 850px;
    }
    &__canvas{
      transform: scale(1.3);
    }
  }
  
  
  .present{
    background-position:  center;
  }
  .design{
    background-position: bottom center;
  }
  .details{
    &__content{
      background-position: right -240px bottom;
    }
  }
}

@media (max-width: 1420px){
  .scroll-towel{
    &__canvas{
      right: 10px;
    }
  }
  .scroll-thread{
    &__canvas{
      left: 40px;
    }
    .scroll__text-sticky{
      margin-right: 0;
    }
  }
  .details{
    &__content{
      background-position: right -300px bottom;
    }
  }
}

@media (max-width: 1300px){
  .header{
    &__cart{
      right: -10px;
    }
  }
  .menu{
    margin-right: 15px !important;
  }
}


@media (max-width: map-get($grid-breakpoints, lg) - 1) {
  .header{
    padding-top: 85px;
    &__top{
      .container{
        padding: 0;
      }
    }
    &__cart{
      right: 0px;
      margin-right: 15px;
    }
    &__content{
      &-slider{
        .slick-dots{
          bottom: 25px;
        }
      }
      &-item{
        background-image: url('../images/header-phone.jpg');
        background-size: auto;
        height: 702px;
        .container{
          padding: 0;
        }
        &-content{
          padding-left: 15px;
          height: 702px;
          justify-content: flex-end;
          padding-bottom: 73px;
          margin-left: 15px;
        }
        &-title{
          @include fz(35px, #fff, 43px);
        }
        &-price{
          font-size: 25px;
          line-height: 104.8%;
          margin-left: 20px;
        }
      }
    }
  }

  .burger{
    display: block;
    margin-left: 15px;
  }
  .menu{
    &__list{
      position: absolute;
      left: 0;
      right: 0;
      top: 64px;
      padding-top: 60px !important;
      display: flex;
      flex-wrap: wrap;
      transform: translateY(-200%);
      transition: all .5s;
      background: #302E2F;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 0px 0px 30px 30px;
      padding-bottom: 28px !important;   
      &--active{
        transform: translateY(0%);
      }
      &-item{
        height: 100%;
        border-left: none;
        padding: 0;
        padding-bottom: 10px;
        border-bottom: 0.5px solid #525252;
        margin-bottom: 10px;
        width: 189px;
        justify-content: start;
        &:first-child,
        &:nth-child(2),
        &:nth-child(3){
          .menu__list-link{
            padding-left: 45px;
          }
        }
        &:nth-child(2){ // отзывы 2
          order: 3;
        }
        &:nth-child(3){ // инфо 3 
          order: 5;
        }
        &:nth-child(4){ // каталог 4 
          order: 2;
          padding-left: 0;
          width: 153px;
          margin-left: 30px;
        }
        &:last-child{ // номер 6 
          order: 4;
          padding-left: 0;
          padding-bottom: 8px;
          width: 153px;
          margin-left: 30px;
        }
        &:nth-child(5){ // 5
          display: block;
          order: 6;
          padding-left: 0;
          margin-left: 30px;
          width: 153px;
          padding-bottom: 8px;
        } 
        &-close{
          position: absolute;
          right: 15px;
          top: 10px;
          width: 35px;
          height: 40px;
          display: block;
        }
      }
      &-link{
        &--border{
          padding: 0;
          border: none;
          &:hover{
            color: $accent;
            background-color: transparent;
          }
        }
      }
    }
  }
  .drop-down{
    background: #302E2F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 30px 30px;
    left: 0;
    right: 0;
    top: 42px;
    width: 375px;
    justify-content: start;
    padding-bottom: 40px;
    &__item{
      &:last-child{
        margin-left: 39px;
        .drop-down__item-link{
          width: 153px;
        }
      }
      &:first-child{
        .drop-down__item-link{
          padding-left: 45px;
          width: 183px;
        }
      }
      &-link{
        padding: 0;
        font-size: 14px;
        line-height: 17px;
        &:not(:last-child){
          padding-bottom: 10px;
          margin-bottom: 10px;
        } 
      }
    }
  }
  .info{
    &__inner{
      flex-direction: column;
      align-items: start;
      padding-bottom: 40px;
      justify-content: flex-start;
    }
    &__item{
      height: 100%;
      padding-bottom: 18px;
      position: relative;
      &::before{ 
        content: '';
        position: absolute;
        width: 314px;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.3);
        bottom: 0;
        left: -15px;
      }
      &:not(:last-child){
        border-right: none;
        margin-bottom: 18px;
      }
      &:first-child,
      &:nth-child(2),
      &:last-child{
        padding-right: 50px;
      }
      &:nth-child(2),
      &:last-child{
        padding-left: 0;
      }
    }
  }
  .scroll-water{
    height: 3000px;
    &__canvas{
      top: 25%;
      // transform: scale(1.3) translateY(-60%);
    }
    .scroll__text-sticky{
      height: 70px;
      // top: 90px;
    }
    .scroll-water__text-box--second{
      height: 167px;
    }
  }
  .scroll-towel{
    &__canvas{
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 300px;
      top: 65vh;
    }
    .scroll-towel__text-sticky{
      margin: 0 auto;
      top: 0;
      height: 127px;
      width: 311px;
    }
    .scroll__text{
      text-align: center;
    }
  }
  .scroll{
    &__title{
      @include fz(28px, #fff, 34px);
      
    }
    &__text{
      text-align: center;
    }
    &__text-sticky{
      width: 345px;
    }
    &__bg{
      height: 85px;
    }
  }
  .scroll-thread{
    height: 3500px;
    .scroll__text-sticky{
      margin: 0 auto;
      top: 20px;
      width: 345px;
      
    }
    .scroll__title{
      text-align: center;
    }
    .scroll__text{
      text-align: center;
    }
    &__canvas{
      max-width: 270px;
      left: 50%;
      top: 60vh;
      transform: translate(-50%, -50%);
    }
    &__text-box--second{
      width: 490px;
    }
    &__text-box--second{
      height: 521px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .present{
    background-image: none;
    background-color: #F9DFD5;
    height: 313px;
    &__content{
      padding-top: 40px;
      text-align: center;
      &-title{
        font-size: 28px;
        line-height: 104.4%;
        margin-bottom: 20px;
      }
      &-form{
        align-items: center;
      }
    }
  }
  .form{
    background: #302E2F;
    &__inner{
      background-image: none;
      padding: 40px 0px;
      img{
        display: block;
      }
    }
    &__content{
      text-align: center;
    }
    &__title{
      font-size: 22px;
      line-height: 27px;
      
      margin-bottom: 20px;
    }
    &__text{
      max-width: 327px;
      margin: 0 auto 20px;
    }
    &__form-input,
    &__form-btn{
      margin: 0 auto 20px;
    }
  }
  .reviews{
    padding-bottom: 20px;
    &__item-content{
      display: none;
      &:nth-child(-n + 6){
        display: block;
      }
    }
    &__title{
      @include fc(28px, 34px);
      max-width: 162px;
      margin-right: 10px;
    }
    &__button{
      margin-top: 40px;
    }
    &__top{
      padding-top: 40px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
    }
    &__tabs{
      margin-bottom: 18px;
    }
    &__tabs-link{
      @include fc(14px, 116.4%);
      padding: 0 8px 10px 8px;
    }
    &__title{
      @include fc(28px,34px);
    }
    &__content{
      .swiper__arrows{
        display: none;
      }
    }
    .swiper-pagination__wrapp{
      flex-direction: column;
    }
    .swiper-pagination{
      margin-bottom: 36px;
    }
    .swiper-questions{
      .swiper-pagination-questions{
        margin-bottom: 36px;
      }
    }
  }
  #tabQuestions{
    width: 375px;
    top: 246px;
  }
  .catalog{
    .container{
      padding-right: 0;
    }
    padding-top: 20px;
    padding-bottom: 40px;
    &__title{
      @include fc(25px, 116.4%);
      margin-bottom: 20px;
    }
    &__item{
      display: none;
      &:nth-child(-n + 6){
        display: block;
      }
      &-text,
      &-box{
        width: 270px;
      }
    }
    .swiper-pagination__wrapp{
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }
    .swiper__arrows{
      // margin-bottom: 30px;
      margin-right: 45px;
    }
    &__bottom-link{
      margin-left: auto;
      margin-right: auto;
      margin-top: 45px;
    }
  }
  .details{
    margin-bottom: 40px;
    &__content{
      background-image: none;
      padding-bottom: 0;
    }
    &__title{
      @include fc(28px, 34px);
      margin-bottom: 20px;
    }
    &__items{
      background: #302E2F;
      border-radius: 30px;
      padding-bottom: 20px;
    }
    &__item{
      width: 100%;
      padding: 0;
      &:not(:last-child){
        .details__item-body{
          border-bottom: 0.5px solid rgba(225, 123, 49, 0.4);
        }
      }
      &-body{
        border-left: none;
        
        padding-bottom: 10px;
        padding-right: 15px;
      }
      &-box{
        padding-left: 29px;
      }
      &-text{
        padding-left: calc(29px + 25px + 14px);
        font-size: 12px;
        line-height: 15px;
        max-width: 100%;
      }
    }
  }
  .result{
    padding-bottom: 40px;
    &__top{
      display: block;
    }
    &__title{
      @include fc(28px, 34px);
      margin-bottom: 18px;
    }
    &__subtitle{
      max-width: 223px;
      margin-bottom: 20px;
    }
    &__item{
      &-text{
        @include fc(10px, 12px);
        padding-left: 12px;
        &::after{
          width: 6px;
          height: 6px;
          top: 2px;
        }
      }
      flex-wrap: wrap;
      justify-content: space-between;
      &-image{
        margin-bottom: 10px;
      }
      &-box{
        &:not(:last-child){
          margin-right: 0;
        }
        &:first-child{
          order: 3;
          .result__item-text-box{
            display: none;
          }
          .result__item-image{
            
            img{
              height: 231px;
              width: 160px;
            }
          }
          .result__item-image:last-child{
            display: none;
            
          } 
        }
        &:nth-child(2){
          order: 2;
          .result__item-text-box{
            left: 8px;
            top: 8px;
            width: 111px;
            height: 29px;
          }
          .result__item-image{
            // margin-right: 15px;
            img{
              height: 231px;
              width: 160px;
            }
          }
          .result__item-image:first-child{
            display: none;
          }
        }
        &:last-child{
          order: 1;
          
          .result__item-text-box{
            right: 8px;
            top: 8px;
            left: unset;
            width: 101px;
            height: 29px;
            &:last-child{
              left: unset;
              right: 8px;
              top: calc(8px + 29px + 5px);
              width: 101px;
              height: 29px;
            }
          }
          .result__item-image:last-child{
            display: none;
            
          }
        }
      }
    }
    .swiper-wrapper{
      height: 500px;
    }
  }
  .present-2{
    margin-bottom: 40px;
    background: #F9DFD5;
    height: 100%;
    &__inner{
      justify-content: center;
    }
    &__content{
      padding-top: 40px;
      padding-bottom: 25px;
      text-align: center;
    }
  }
  .inst{
    padding-bottom: 35px;
    &__title{
      @include fc(28px, 34px);
      margin-bottom: 17px;
    }
    &__inner{
      @include flex-between;
      flex-wrap: wrap;
    }
    &__link{
      &:last-child{
        display: block;
      }
      &:nth-child(4){
        display: none;
      }
    }
    &__image{
      width: 165px;
      height: 173px;
      margin-bottom: 15px;
      &-content{
        display: block;
      }
    }
  }
  .footer{
    padding-bottom: 50px;
    .logo{
      img{
        margin: 0 auto;
      }
    }
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 50px;
    }
    &__info{
      text-align: center;
      margin-bottom: 28px;
    }
    &__list{
      &:first-child{
        order: 2;
        margin-left: 15px;
      }
      &:last-child{
        order: 1;
        margin-left: 0;
      }
    }
    &__list-inner{
      margin-bottom: 34px;
    }
    &__wrapper{
      text-align: center;
      .footer__pay{
        .footer__pay-title{
          margin-bottom: 18px;
        }
      }
    }
  }
  .design{
    padding-top: 30px;
    height: 100%;
    background-position: top center;
    .container{
      padding: 0;
    }
    &.man-bg{
      @include bg('../images/design/man-bg-small.jpg', auto);
    }
    &.child-bg{
      @include bg('../images/design/child-bg-small.jpg', auto);
    }
    &.wooman-bg{
      @include bg('../images/design/wooman-bg-small.jpg', auto);
    }
    &.bathrobe{
      @include bg('../images/design/man-bg-small.jpg', auto);
    }
    &.towel{
      @include bg('../images/design/towel-bg-small.jpg', auto);
    }
    &.pillow{
      @include bg('../images/design/pillow-bg-small.jpg', auto);
    }
    &__inner{
      display: block;
    }
    &__title{
      @include fc(28px, 34px);
      margin: 0 auto 280px;
      max-width: 305px;
      text-align: center;
    }
    &__tabs{
      display: none;
    }
    &-mobile{
      display: block;
      &__slider{
        z-index: 10;
        .slick-dots{
          @include flex-center;
          position: absolute;
          bottom: 116px;
          left: 0;
          right: 0;
          li{
            &:not(:last-child){
              margin-right: 5px;
            }
            button{
              font-size: 0;
              background-color: transparent;
              width: 8px;
              height: 8px;
              padding: 0;
              border-radius: 50%;
              border: 1px solid rgba(225, 123, 49, 0.4);
            }
          }
          .slick-active{
            button{
              background-color: $accent;
            }
          }
        }
        .slick-arrow{
          position: absolute;
          bottom: 95px;
          background-color: transparent;
          border: none;
          z-index: 11;
          cursor: pointer;
          padding: 0;
          img{
            width: 46px;
            height: 46px;
          }
        }
        .slick-prev{
          left: 15px;
        }
        .slick-next{
          right: 15px;
        }
      }
      &__item{
        background: #302E2F;
        border-radius: 22px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        max-width: 375px;
        margin: 0 auto;
      }
      &__nav{
        width: 180px;
        margin: 0 auto 26px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-link{
          color: rgba(255, 255, 255, 0.4);
          text-decoration: underline;
          line-height: 20px;
          text-align: center;
          display: block;
          &.design-mobile__nav-link--active{
            color: #fff;
          }
          &:first-child{
            margin-bottom: 8px;
          }
          &:nth-child(2){
            margin-right: 20px;
          }
        }
      }
      &__gender{
        margin-bottom: 20px;
        &-title{
          @include fc(20px, 24px);
          font-weight: 600;
          text-align: center;
          margin-bottom: 12px;
        }
        &-content{
          width: 180px;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        &-link{
          color: rgba(255, 255, 255, 0.4);
          line-height: 20px;
          &.design-mobile__gender-link--active{
            color: #fff;
          }
          &:first-child{
            margin-bottom: 12px;
            margin-right: 19px;
          }
        }
      }
      .design__tabs-size{
        margin-bottom: 70px;
        .design__tabs-select-title{
          @include fc(20px, 24px);
          text-align: center;
          margin-bottom: 12px;
        }
      }
      &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        border-top: 1px solid #363334;
        &-link{
          width: 146px;
          height: 40px;
          @include flex-center;
          border-radius: 30px;
          border: 1px solid #E17B31;
          line-height: 20px;
          font-weight: 700;
          color: #fff;
          transition: all .3s;
          &:hover{
            background-color: $accent;
          }
        }
      }
      &__price{
        @include fw(20px, 24px, 600);
        position: relative;
        padding-right: 56px;
        span{
          @include fw(16px, 20px, 500);
          color: #888;
          text-decoration: line-through;
          position: absolute;
          top: -14px;
          right: 0;
        }
      }
      &__color{
        &-title{
          @include fw(20px, 116.4%, 600);
          text-align: center;
          margin-bottom: 15px;
        }
        &-content{
          width: 140px;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 6px;
        }
        .design__tabs-color-link {
          &:not(:last-child){
            margin-right: 0;
          }
        }
      }
      &__add{
        margin-bottom: 87px;
        &-title{
          @include fw(20px, 24px, 600);
          text-align: center;
          margin-bottom: 15px;
        }
        &-content{
          width: 314px;
          margin: 0 auto;
          @include flex-center;
          flex-wrap: wrap;
          align-items: start;
        }
        &-link{
          color: #fff;
          line-height: 20px;
          text-decoration: underline;
          &:first-child{
            margin-right: 20px;
            margin-bottom: 10px;
          }
        }
      }
      &__font{
        margin-bottom: 15px;
        &-content{
          z-index: 20;
          width: 265px;
          margin: 0 auto;
          .slick-slide{
            margin-right: 10px;
          }
          .slick-arrow{
            z-index: 21;
            position: absolute;
            top: 25%;
            img{
              width: 21px;
              height: 21px;
            }
          }
          .slick-next{
            right: -30px;
          }
          .slick-prev{
            left: -30px;
          }
        }
        &-item{
          @include flex-center;

          &-box{

          }
        }
        &-title{
          @include fw(20px, 24px, 600);
          margin-bottom: 15px;
          text-align: center;
        }
      }
      &__font-color{
        .design-mobile__color-title{
          margin-bottom: 10px;
        }
        .design-mobile__color-content{
          display: flex;
          flex-wrap: nowrap;
          width: 340px;
          padding-bottom: 0px;
        }
        .design__tabs-color-link{
          &:not(:last-child){
            margin-right: 10px;
          }
        }
      }
      &__text{
        .modal-font__text-input{
          &:checked + .modal-font__text-checkbox{
            background-image: url('../images/icons/checkbox.svg');
            background-repeat: no-repeat;
            background-color: $accent;
            background-size: 15px;
            background-position: top 1px center;
          }
        }
        .modal-font__text-label{
          p{
            @include fw(10px, 12px, 500);
            margin-top: 5px;
          }
        }
        &-title{ 
          @include fw(20px, 116.4%, 600);
          margin-bottom: 10px;
          text-align: center;
        }
        &-form{
          margin-bottom: 10px;
          @include flex-center;
        }
        &-form-textarea{
          padding-top: 10px;
          margin-bottom: 54px;
        }
      }
      &__textarea{
        width: 345px;
        height: 64px;
        background: #323031;
        border-radius: 10px;
        border: 1px solid rgba(225, 123, 49, 0.4);
        outline: transparent;
        resize: none;
        padding: 15px;
        color: #fff;
        font-size: 12px;
        &::placeholder{
          font-size: 12px;
          line-height: 15px;
          color: #fff;
        }
      }
      &__select{
        &-title{
          @include fw(20px, 24px, 600);
          margin-bottom: 10px;
          text-align: center;
        }
        &-links{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 20px;
        }
        &-link{
          color: rgba(255, 255, 255, 0.4);
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          margin-right: 13px;
          display: block;
          text-decoration: underline;
          &.design-mobile__select-link--active{
            color: #fff;
          }
          &:not(:last-child){
            margin-right: 13px;
            margin-bottom: 10px;
          }
          &:nth-child(8),
          &:nth-child(5){
            margin-right: 0;
          }
        }
        .modal-font__fonts{
          height: 100px;
          width: 350px;
          justify-content: center;
          &-item{
            width: 45px;
            height: 45px;
            margin-right: 10px;
            margin-bottom: 10px;
            border-radius: 15px;
            img{
              width: 30px;
              
            }
          }
        }
      }
      
    }
    

  }
  .modal-font{
    &.modal-text--active{
      display: none;
    }
  }
  .modal-picture{
    &.modal-pic--active{
      display: none;
    }
  }
}

@media(max-width: 768px){
  .scroll-water{
    &__canvas{
      top: 45%;
      
    }
  }
  .scroll-thread{
    &__text-box--second{
      width: 335px;
    }
  }
}

@media (max-width: 610px){
  
}

@media (max-width: 440px){
  .scroll-towel{
    &__canvas{
      max-width: 230px;
    }
  }
  .header{
    &__content{
      &-item{
        background-size: cover;
      }
    }
  }
}

