@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'grid';
@import 'global';


.header{
  &__top{
    background: #302E2F;
    padding: 20px 0;
    &-inner{
      @include flex-between;
    }
  }
  &__bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    z-index: 100;
    &.active-drop-down{
      display: block;
    }
  }
  &__content{
    &-slider{
      .slick-dots{
        position: absolute;
        display: flex;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        li{
          margin-right: 10px;
          button{
            font-size: 0;
            padding: 0;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.35);
            transition: all .3s;
          }
        }
        .slick-active{
          button{
            width: 40px;
            background-color: #fff;
            border-radius: 6px;
          }
        }
      }
    }
    &-item{
      height: 811px;
      background-repeat: no-repeat;
      background-size: cover;
      
      &-content{
        height: 811px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 375px;
      }
      &-title{
        font-size: 50px;
        line-height: 61px;
        @extend %mon-700;
        max-width: 453px;
        margin-bottom: 24px;  
      }
      &-subtitle{
        line-height: 20px;
        display: block;
        margin-bottom: 28px;
      }
      &-wrap{
        display: flex;
        align-items: center;
      }
      &-btn{
        width: 237px;
        @include flex-center;
        height: 60px;
        border-radius: 30px;
        border: 2px solid #FF8329;
        color: #FFFFFF;
        line-height: 20px;
        @extend %mon-700;
        transition: all .3s;
        &:hover{
          background-color: #FF8329;
        }
        
      }
      &-price{
        display: block;
        margin-left: 48px;
        font-size: 30px;
        @extend %mon-500;
      }
    }
  }
}

.menu{
  &__list{
    display: flex;
    &-item{
      height: 60px;
      @include flex-center;
      border-left: 0.5px solid #525252;
      padding: 0 19px;

      position: relative;
    }
    &-link{
      color: #fff;
      font-size: 14px;
      line-height: 17px;
      position: relative;
      transition: all .3s;
      &:hover{
        color: #E17B31;
      }
      &--border{
        padding: 14px 35px;
        border-radius: 30px;
        border: 2px solid #E17B31;
        transition: all .3s;
        &:hover{
          background-color: #E17B31;
          color: #fff;
        }
      }
      &--info{
        position: relative;
        padding-right: 21px;
        &::before{
          content: '';
          position: absolute;
          background-image: url('../images/icons/arrow-info.png');
          background-repeat: no-repeat;
          height: 20px;
          width: 16px;
          right: 0;
          top: -2px;
          transition: all .3s;
        }
      }
    }
    &-cart{
      padding-left: 19px;
      position: relative;
      @include flex-center;
      cursor: pointer;
      span{
        position: absolute;
        top: 17px;
        right: 2px;
        font-size: 8px;
        color: #fff;
        width: 10px;
        height: 10px;
        background-color: $accent;
        border-radius: 50%;
        @include flex-center;
        @extend %mon-500;
        line-height: 10px;
      }
    }
  }
}

.drop-down{
  opacity: 0;
  visibility: hidden;
  width: 431px;
  background: rgba(48, 46, 47, 0.95);
  border-radius: 0px 0px 30px 30px;
  position: absolute;
  top: 80px;
  right: -240px;
  z-index: 101;
  @include flex-between;
  transition: all .3s;
  &.drop-down--active{
    opacity: 1;
    visibility: visible;
  }
  &__item{
    @include flex-column (flex-start);
    padding-bottom: 25px;
    &-link{
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      padding-top: 25px;
      &:not(:last-child){
        border-bottom: 0.5px solid #525252;
        padding-bottom: 14px;
        
      }
    }
    &:first-child{
      .drop-down__item-link{
        width: 179px;
        padding-left: 25px;
        
      }
    }
    &:last-child{
      .drop-down__item-link{
        width: 163px;
        margin-right: 25px;
      }
    }
    
  }
}

.info{
  &__inner{
    @include flex-center;
    padding-top: 29px;
    padding-bottom: 64px;
  }
  &__item{
    height: 87px;
    display: flex;
    align-items: center;
    &:not(:last-child){
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
    &:first-child{
      padding-right: 61px;
    }
    &:nth-child(2){
      padding-left: 61px;
      padding-right: 66px;
    }
    &:last-child{
      padding-left: 65px;
    }
    &-title{
      padding-left: 18px;
      font-size: 20px;
      line-height: 21px;
      @extend %mon-600;
    }
  }
}

.present{
  background-image: url('../images/present-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  &__content{
    padding-top: 80px;
    color: #363334;
    &-title{
      font-size: 40px;
      line-height: 104.4%;
      @extend %mon-700;
      margin-bottom: 24px;
    }
    &-subtitle{
      line-height: 20px;
      display: block;
      margin-bottom: 24px;
    }
    &-form{
      @include flex-column(flex-start);
    }
    &-input,
    &-btn{
      width: 300px;
      height: 60px;
      border-radius: 30px;
      border: 1px solid #E17B31;
      background-color: transparent;
      outline: transparent;
    }
    &-input{
      margin-bottom: 28px;
      padding: 0 20px;
      @extend %mon-500;
      &::placeholder{
        color: rgba(54, 51, 52, 0.6);
        font-size: 16px;
        line-height: 20px;
        @extend %mon-500;  
      }
    }
    &-btn{
      color: #363334;
      line-height: 20px;
      @extend %mon-700;
      cursor: pointer;
      transition: all .3s;
      &:hover{
        background-color: $accent;
        color: #fff;
      }
    }
  }
}

.design{
  height: 1088px;
  padding-top: 120px;
  @include bg-set('../images/design/man-bg.jpg');
  position: relative;
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  &__title{
    @include fz(40px, #363334, 49px);
    @extend %mon-700;
    margin-bottom: 40px;
  }
  &__tabs{
    &-nav{
      display: flex;
      margin-bottom: 22px;
    }
    &-link{
      color: rgba(255, 255, 255, 0.6);
      font-size: 20px;
      line-height: 24px;
      @extend %mon-600;
      width: 251px;
      height: 86px;
      display: block;
      background-color: rgba(54, 51, 52, 0.95);
      opacity: 0.95;
      border: 4px solid rgba(225, 123, 49, 0.6);
      border-radius: 30px;
      @include flex-center;
      transition: all .3s;
      &:not(:last-child){
        margin-right: 20px;
      }
      &.design__tabs-link--active{
        color: #fff;
        border: 4px solid #E17B31;
      }
    }
    &-content{
      &-item{
        padding: 40px;
        display: none;
        width: 793px;
        background: rgba(54, 51, 52, 0.95);
        border-radius: 30px;
        &.design__tabs-content-item--active{
          display: block;
        }
      }
    }
    &-select-title{
      @include fz(26px, #fff, 32px);
      margin-bottom: 19px;
      @extend %mon-600;
    }
    &-gender{
      width: 256px;
      margin-bottom: 30px;
      &-box{
        display: flex;
        flex-wrap: wrap;
      }
      &-link{
        width: 104px;
        display: block;
        height: 43px;
        @extend %sel;
        color: #fff;
        line-height: 20px;
        @include flex-center;
        &.gender-link--active{
          @extend %sel-a;
        }
        &:first-child{
          margin-right: 14px;
        }
        &:not(:last-child){
         
          margin-bottom: 14px;
        }
      }
    }
    &-size{
      width: 238px;
      margin-bottom: 36px;
      margin-left: 62px;
      &-box{
        display: flex;
        flex-wrap: wrap;
      }
      &-link{
        width: 70px;
        height: 40px;
        @extend %sel;
        @include flex-center;
        color: #fff;
        line-height: 20px;
        &.design__tabs-size-link--active{
          @extend %sel-a;
        }
        &:first-child{
          margin-bottom: 14px;
        }
        &:not(:last-child){
          margin-right: 14px;
        }
        &:nth-child(3){
          margin-right: 0;
        }
      }
    }
    &-color{
      width: 256px;
      &-box{
        display: flex;
        flex-wrap: wrap;
      }
      &-link{
        &.design__tabs-color-link--active{
          border: 1px solid #E17B31;
        }
        width: 40px;
        height: 40px;
        border: 1px solid rgba(225, 123, 49, 0.4);
        display: block;
        border-radius: 50%;
        position: relative;
        margin-bottom: 14px;
        &:not(:last-child){
          margin-right: 14px;
        }
        &::before{
          content: "";
          width: 25px;
          height: 25px;
          top: 50%;
          right: 50%;
          position: absolute;
          -webkit-transform: translate(50%, -50%);
          -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
          border-radius: 50%;
        }
      }
      .white::before{
      background-color: #fff;
      }
      .red::before{
        background-color:#D63135;
      }
      .green::before{
        background-color: #23B223;
      }
      .brown::before{
        background-color: #785939;
      }
      .dark-blue::before{
        background-color:#002137;
      }
      .grey::before{
        background-color:#9F9F9F;
      } 
      .black::before{
        background-color:#000;
      }
      .white-red::before{
        background-color:#EC2323;
      }
      .blue::before{
        background-color:#3333F1;
      }
    }
    &-add{
      width: 386px;
      margin-left: 62px;
      &-box{
        display: flex;
        flex-wrap: wrap;
      }
      &-link{
        width: 186px;
        height: 43px;
        @extend %sel;
        color: #fff;
        line-height: 20px;
        @include flex-center;
        &:first-child{
          margin-bottom: 14px;
          margin-right: 14px;
        }
      }
    }
    &-selects{
      padding-bottom: 40px;
      border-bottom: 1px solid #8E8E8E;
      display: flex;
      flex-wrap: wrap;
      &-wrapp{
        padding-top: 40px;
        @include flex-between();
      }
      &-price{
        position: relative;
        p{
          display: block;
        }
        p:first-child{
          @include fz(30px, #fff, 37px);
          @extend %mon-600;
        }
        p:last-child{
          @include fz(22px, #888, 27px);
          text-decoration: line-through;
          position: absolute;
          top: -20px;
          right: -75px;
        }
      }
      &-btn{
        @extend %sel;
        color: #fff;
        line-height: 20px;
        border: 1px solid #E17B31;
        border-radius: 30px;
        width: 253px;
        height: 60px;
        @include flex-center;
        transition: all .3s;
        &:hover{
          background-color: #E17B31;
        }
      }
    }
  }
}

.modal-font{
  width: 793px;
  background: #363334;
  box-shadow: 0px -1px 21px 15px rgba(35, 26, 26, 0.15);
  border-radius: 30px;
  padding: 42px;
  position: absolute;
  top: 209px;
  right: 20.3%;
  display: none;
  &.modal-text--active{
    display: block;
  }
  &__title{
    @include fz(26px, #fff, 32px);
    margin-bottom: 21px;
    @extend %mon-600;
  }

  &__fonts{
    height: 180px;
    margin-bottom: 20px;
    overflow-y: scroll;
    width: 638px;
    display: flex;
    flex-wrap: wrap;
    &::-webkit-scrollbar{
      width: 2px;

      border-radius: 2.5px;
    }
    &::-webkit-scrollbar-track{
      background-color: #424143;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #E17B31;
    }
    &-item{
      margin-right: 20px;
      margin-bottom: 20px;
      height: 80px;
      width: 80px;
      border-radius: 20px;
      background: #363334;
      // opacity: 0.32;
      border: 2px solid rgba(225, 123, 49, 0.2);
      position: relative;
      img{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
      }
    }
  }
  .design__tabs-color{
    width: 100%;
  }
  .design__tabs-color-box{
    flex-wrap: nowrap;
  }
  .design__tabs-select-title{
    @include fz(26px, #fff, 32px);
    margin-bottom: 14px;
    @extend %mon-500;

  }
  &__text{
    &-title{
      @include fz(26px, #fff, 32px);
      @extend %mon-500;
    }
    &-form{
      width: 166px;
      &-area{
        width: 636px;
      }
    }
    &-box{
      margin-bottom: 14px;
      @include flex-between;
      max-width: 636px;
      
    }
    &-label{
      cursor: pointer;
      display: flex;
      p{
        display: block;
        margin-left: 28px;
        margin-top: 2px;
        @extend %mon-500;
        @include fz(14px, #fff, 17px);
      }
    }
    &-input{
      @extend %checkbox-hidden;
      &:checked + .modal-font__text-checkbox{
        background-image: url('../images/icons/checkbox.svg');
        background-repeat: no-repeat;
        background-color: $accent;
      }
    }
    &-checkbox{
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 1px solid $accent;
      border-radius: 5px;
      position: absolute;
      
    }
    &-textarea{
      resize: none;
      width: 100%;
      height: 85px;
      padding: 14px;
      border-radius: 10px;
      background: #323031;
      outline: transparent;
      @include fz(16px, #fff, 20px);
      border: 1px solid rgba(225, 123, 49, 0.4);
      margin-bottom: 24px;
      &::placeholder{
        @include fz(16px, #fff, 20px);
      }
    }
    &-btn{
      border: 1px solid #E17B31;
      border-radius: 30px;
      width: 270px;
      height: 70px;
      @extend %mon-700;
      color: #fff;
      line-height: 20px;
      @include flex-center;
      transition: all .3s;
      &:hover{
        background-color: #E17B31;
      }
    }
    &-button{
      width: 635px;
      display: flex;
      justify-content: flex-end;
    }
  }
  
}

.modal-picture{
  width: 793px;
  background: #363334;
  box-shadow: 0px -1px 21px 15px rgba(35, 26, 26, 0.15);
  border-radius: 30px;
  padding: 42px;
  position: absolute;
  top: 209px;
  right: 20.3%;
  display: none;
  &.modal-pic--active{
    display: block;
  }
  .modal-font__fonts{
    width: 602px;
  }
  .design__tabs-color{
    width: 100%;
  }
  .design__tabs-color-box{
    flex-wrap: nowrap;
  }
  .design__tabs-select-title{
    margin-bottom: 14px;
    @extend %mon-500;
  }
}

.modal__select-pic{
  &-box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6px;
  }
  &-link{
    padding: 20px 40px;
    border: 1px solid #67676C;
    border-radius: 30px;
    line-height: 20px;
    color: #fff;
    @extend %mon-500;
    margin-bottom: 14px;
    margin-right: 14px;
    transition: all .3s;
    &.modal__select-pic-link--active{
      border: 1px solid #E17B31;
    }
  }
}

.form{
  &__inner{
    padding-top: 158px;
    padding-bottom: 76px;
    @include bg('../images/form-bg.png', auto);
    background-position: right bottom;

  }
  &__title{
    @extend %h2;
    max-width: 612px;
    margin-bottom: 24px;
  }
  &__text{
    line-height: 20px;
    @extend %mon-500;
    max-width: 434px;
    margin-bottom: 24px;
    display: block;
  }
  &__form{
    &-input,
    &-btn{
      width: 270px;
      height: 60px;
      border-radius: 30px;
      border: 1px solid #E17B31;
      background-color: transparent;
      display: block;
      outline: transparent;
    }
    &-input{
      padding: 20px;
      margin-bottom: 24px;
      color: #fff;
      &::placeholder{
        @include fz(16px, rgba(255, 255, 255, 0.6), 20px);
      }
    }
    &-btn{
      line-height: 20px;
      @extend %mon-700;
      color: #fff;
      transition: all .3s;
      &:hover{
        background-color: #E17B31;
      }
    }
  }
}



.reviews{
  padding-bottom: 90px;
  background: #302E2F;
  position: relative;
  
  &__top{
    @include flex-between;
    padding-top: 120px;
    margin-bottom: 40px;
  }
  &__title{
    @extend %h2;
    max-width: 231px;
  }
  &__tabs{
    &-link{
      @include fz(22px, rgba(255, 255, 255, 0.3), 116.4%);
      border-bottom: 2px solid rgba(225, 123, 49, 0.4);
      padding: 0 15px 10px 15px;
      &:not(:last-child){
        margin-right: 15px;
      }
      &.reviews__tabs-link--active{
        color: #fff;
        border-bottom: 2px solid $accent;
      }
    }
  }
  &__button{
    width: 232px;
    height: 64px;
    border: 2px solid #E17B31;
    border-radius: 35px;
    @include flex-center;
    letter-spacing: -0.05em;
    color: #fff;
    line-height: 20px;
    @extend %mon-700;
    transition: all .3s;
    &:hover{
      background-color: $accent;
    }
  }
  &__item{
    margin-bottom: 40px;
    &-content,
    .swiper-slide{
      width: 270px;
      background: #363334;
      border-radius: 20px;
      padding: 25px;
    }
    &-bottom{
      padding-top: 15px;
      .reviews__item-read{
        margin-bottom: 0;
      }
    }
    &-top{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      &-border{
        border-bottom: 1px solid #FFFFFF;
        opacity: 0.11;
      }
      &-wrapp{
        margin-left: 14px;
      }
      &-name{
        line-height: 20px;
        @extend %mon-500;
        margin-bottom: 4px;
      }
      &-time{
        @include fz( 12px, #fff, 15px);
        opacity: 0.5;
      }
      &-answer{
        line-height: 20px;
        @extend %mon-500;
        margin-bottom: 4px;
        position: relative;
        width: 140px;
        &::before{
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: $accent;
          border-radius: 50%;
          right: 0;
          top: 0;
        }
      }
    }
    &-text{
      padding-top: 20px;
      @include fz(10px, #fff, 146.9%);
      margin-bottom: 37px;
      height: 150px;
      display: block;
      span{
        color: rgba(255, 255, 255, 0.5);
      }
      &-read{
        margin-bottom: 0px;
      }
    }
    &-bottom-link{
      display: block;
      border: 1px solid #FFFFFF;
      border-radius: 30px;
      height: 45px;
      @include flex-center;
      color: #fff;
      line-height: 20px;
    }
    &-read{
      @include fz(10px, #fff, 146.9%);
      text-decoration: underline;
      margin-bottom: 22px;
      display: block;
      transition: all .3s;
      &:hover{
        color: $accent;
      }
    }
    
  }
  &__content{
    // height: 440px;
    &-link{
      color: #FFFFFF;
      text-decoration: underline;
      line-height: 20px;
      transition: all .3s;
      &:hover{
        color: $accent;
      }
    }
  }
}

.swiper-questions{
  .reviews__item-top-wrapp{
    margin-left: 0;
    .reviews__item-read{
      margin-bottom: 0;
      margin-top: 5px;
      
    }
  }
  
  .reviews__item-top-time{
    margin-bottom: 15px;
  }
  .reviews__item-bottom-text{
    padding-bottom: 45px;
    // height: 118px;
    span{
      color: rgba(255,255,255,0.5);
    }
  }
  .reviews__item-top-text{
    span{
      color: rgba(255,255,255,0.5);
    }
  }
  .reviews__item-bottom-text-read{
    padding-bottom: 5px;
  }
  .reviews__item-top-text,
  .reviews__item-bottom-text{
    @include fz(10px, #fff, 12px);
  }
  .reviews__item-top{
    margin-bottom: 42px;
  }
  .reviews__item-top-read{
    margin-bottom: 10px;
  }
  
}

#tabQuestions{
  position: absolute;
  width: 1140px;
  left: 0;
  right: 0;
  top: 252px;
  z-index: 2;
}

.reviews__content-swiper{
  visibility: hidden;
  
  &.swiper--active{
    visibility: visible;
  }
}

.catalog{
  padding: 120px 0;
  &__title{
    @extend %h2;
    max-width: 540px;
    margin-bottom: 40px;
  }
  &__item{
    width: 270px;
    margin-bottom: 51px;
    &-image{
      margin-bottom: 34px;
    }
    &-text{
      @include fz(22px, #fff, 27px);
      padding-bottom: 14px;
      display: block;
      border-bottom: 1px solid #7B7B80;
      margin-bottom: 15px;
    }
    &-box{
      @include flex-between;
    }
    &-price,
    &-num{
      @include fz(20px, #A9A9A9, 24px);
      @extend %mon-600;
    }
    &-num{
      color: #fff;
    }
  }
  &__bottom-link{
    width: 232px;
    height: 64px;
    @include flex-center;
    border: 2px solid #E17B31;
    border-radius: 35px;
    color: #fff;
    line-height: 20px;
    @extend %mon-700;
    transition: all .3s;
    &:hover{
      background-color: $accent;
    }
  }
}

.details{
  
  margin-bottom: 110px;
  &__content{
    @include bg('../images/details-bg.png', auto);
    background-position: right bottom;
    padding-bottom: 100px;

  }
  &__title{
    @extend %h2;
    margin-bottom: 40px;
    max-width: 451px;
  }
  &__item{
    width: 772px;
    background: #302E2F;
    border-radius: 30px;
    padding-left: 68px;
    padding-right: 49px;
    &:not(:last-child){
      margin-bottom: 18px;
    }
    &-body{
      border-left: 2px solid #E17B31;
      padding: 20px 0;
    }
    &-box{
      padding-left: 14px;
      display: flex;
      align-items: center;
    }
    &-title{
      padding-left: 14px;
      @include fz(20px, #fff, 24px);
      @extend %mon-500;
    }
    &-text{
      padding-top: 14px;
      padding-left: 53px;
      @include fz(14px, #fff, 17px);
    }
  }
}

.present-2{
  @include bg('../images/present2-bg.jpg', auto);
  height: 600px;
  margin-bottom: 120px;
  &__content{
    padding-top: 123px;
    color: #363334;
  }
  &__inner{
    display: flex;
    justify-content: flex-end;
  }
}

.inst{
  padding-bottom: 120px;
  &__title{
    @extend %h2;
    margin-bottom: 40px;
  }
  &__image{
    width: 270px;
    height: 286px;
    object-fit: cover;
    border-radius: 30px;
  }
  &__inner{
    @include flex-between;
  }
}

.footer{
  background: #302E2F;
  padding-top: 80px;
  padding-bottom: 90px;
  &__inner{
    display: flex;
	  justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 63px;
  }
  &__info{
    &-text{
      opacity: 0.7;
      line-height: 118.4%;
      @extend %mon-600;
      padding-top: 44px;
      padding-bottom: 25px;
      max-width: 255px;
    }
    &-contact{
      display: flex;
      align-items: center;
    }
    &-number{
      margin-left: 12px;
    }
    &-num{
      @include fz(24px, #fff, 29px);
      opacity: 0.7;
      @extend %mon-500;
    }
    &-free{
      color: rgba(255, 255, 255, 0.5);
      line-height: 20px;
    }
  }
  &__list-inner{
    display: flex;
  }
  &__list{
    &:last-child{
      margin-left: 103px;
    }
    &-item{
      &:not(:last-child){
        margin-bottom: 18px;
      }
    }
    &-link{
      padding-left: 16px;
      line-height: 118.4%;
      letter-spacing: -0.045em;
      color: #FFFFFF;
      opacity: 0.7;
      @extend %mon-500;
      position: relative;
      transition: all .3s;
      &:hover{
        color: $accent;
      }
      &::after{
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        left: 0;
        top: 7px;
        background-color: $accent;
        border-radius: 50%;
      }
    }
  }
  &__wrapper{
    
  }
  .footer__social-title,
  .footer__pay-title{
    display: block;
    margin-bottom: 14px;
    @extend %mon-600;
    line-height: 118.4%;
    letter-spacing: -0.045em;
    color: #FFFFFF;
    opacity: 0.7;
  }
  .footer__social-items,
  .footer__pay-items{
    display: flex;
    flex-wrap: wrap;
    width: 292px;
  }
  .footer__social-link,
  .footer__pay-item{
    border: 1px solid #7B7B80;
    border-radius: 30px;
    width: 88px;
    height: 52px;
    @include flex-center;
  }
  &__social{
    margin-bottom: 25px;
    &-item{
      &:not(:last-child){
        margin-right: 14px;
      }
    }
  }
  &__pay{
    &-item{
      margin-right: 14px;
      &:first-child{
        margin-bottom: 5px;
      }
      &:nth-child(3),
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &__copy{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: -0.045em;
    font-size: 13px;
    line-height: 118.4%;
    @extend %mon-500;
    p{
      &:not(:last-child){
        padding-bottom: 14px;
      }
      &:nth-child(2){
        text-transform: uppercase;
      }
    }
  }

}

.result{
  padding-bottom: 90px;
  &__top{
    @include flex-between;
  }
  &__title{
    @extend %h2;
    margin-bottom: 16px;
    max-width: 471px;
  }
  &__subtitle{
    opacity: 0.9;
    line-height: 20px;
  }
  &__item{
    display: flex;
    padding-bottom: 10px;
    &-box{
      display: flex;
      flex-direction: column;
      &:first-child{
        .result__item-text-box{
          top: 15px;
          left: 15px;
          width: 167px;
        }
      }
      &:nth-child(3){
        .result__item-text-box{
          top: 15px;
          left: 15px;
          &:last-child{
            left: 179px;
            
          }
        }
      }
      &:not(:last-child){
        margin-right: 30px;
      }
    }
    &-image{
      margin-bottom: 30px;
      position: relative;
    }

    &-text{
      line-height: 20px;
      padding-left: 19px;
      color: #fff;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $accent;
        left: 0;
        top: 5px;
      }
    }
    &-text-box{
      width: 149px;
      top: 10px;
      left: 10px;
      @extend %result-box;
    }

  }
}



.scroll{
  position: relative;
  background: #101010;
  &__bg{
    width: 100%;
    height: 170px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14.02%, #010001), color-stop(100.84%, rgba(1, 0, 1, 0.02)), color-stop(123.04%, rgba(1, 0, 1, 0.01)), color-stop(139.36%, rgba(1, 0, 1, 0)));
    background: -o-linear-gradient(top, #010001 14.02%, rgba(1, 0, 1, 0.02) 100.84%, rgba(1, 0, 1, 0.01) 123.04%, rgba(1, 0, 1, 0) 139.36%);
    background: linear-gradient(180deg, #010001 14.02%, rgba(1, 0, 1, 0.02) 100.84%, rgba(1, 0, 1, 0.01) 123.04%, rgba(1, 0, 1, 0) 139.36%);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 16;
  }
  &__text-box{
    width: 100%;
    margin: 0 auto;
    height: 1300px;
  }
  &__text-sticky{
    position: sticky;
    top: 160px;
    @include flex-center;
    margin: 0 auto;
    height: 300px;
    width: 674px;
  }
  &__text-inner{
    max-width: 674px;
    text-align: center;
  }
  &__title{
    @extend %h2;
    margin-bottom: 16px;
  }
  &__text{
    opacity: 0.7;
    line-height: 20px;
  }
  &__canvas-wrapper{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  &__inner{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
  }
}

.scroll-water{
  height: 4000px;
  position: relative;
  &__text-box--second{
    height: 1277px;
    width: 100%;
    margin-top: 800px;
  }
  &__canvas{
    z-index: 10;
    position: absolute;
    width: 100%
  }
}

.scroll-towel{
  height: 3300px;
  background-color: #000;
  .scroll__text-box{
    height: 1000px;
  }
  &__text-box--second{
    width: 100%;
    margin-top: 800px;
    height: 460px;
  }
  &__text-sticky{
    margin: 0 auto 0 350px;
    transform: translateY(50%);
    position: sticky;
    top: 160px;
    @include flex-center;
    height: 300px;
    width: 674px;
  }
  &__canvas{
    right: 240px;
    max-width: 535px;
    top: 50vh;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
  }
  .scroll__canvas-wrapper{
    z-index: 2;
  }
  .scroll__text{
    text-align: left;
    max-width: 479px;
  }
}
    
.scroll-thread{
  height: 4000px;
  &__text-box--second{
    width: 100%;
    margin-top: 1120px;
    height: 730px;
  }
  &__canvas{
    left: 240px;
    max-width: 535px;
    top: 50vh;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
  }

  .scroll__wrapper{
    z-index: -1;
  }
  .scroll__text-sticky{
    top: 500px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 400px;
  }
  .scroll__text{
    max-width: 499px;
    text-align: left;
  }
  .scroll__text-inner{
    text-align: left;
  }
}


// @media (min-width: 800px) {
// 	.scroll-thread .scroll__text-box {
// 		margin: 50vh 120px 0 auto
// 	}
// 	.scroll-thread .scroll-threa__text-box--second .scroll__text-box {
// 		margin: 0 120px 0 auto
// 	}
// 	.scroll-thread .scroll-thread__canvas {
// 		left: 120px
// 	}
// }



// @media (min-width: 800px) {
// 	.video3 .video__text-sticky {
// 		margin: 50vh 120px 0 auto;
// 	}
// 	.video3 .videoTwo-box-2 .video__text-sticky {
// 		margin: 0 120px 0 auto;
// 	}
// 	.video3 .cloth__videoTwo {
// 		left: 120px;
// 	}
// }

@import 'media';