@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'grid';
@import 'global';


.header{
  &__top{
    background: #302E2F;
    padding: 20px 0;
    &-inner{
      @include flex-between;
    }
  }
  &__content{
    height: 1000px;
  }
  &__bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    &.active-drop-down{
      display: block;
    }
  }
}

.menu{
  &__list{
    display: flex;
    &-item{
      height: 60px;
      @include flex-center;
      border-left: 0.5px solid #525252;
      padding: 0 19px;

      position: relative;
    }
    &-link{
      color: #fff;
      font-size: 14px;
      line-height: 17px;
      position: relative;
      &--border{
        padding: 14px 35px;
        border-radius: 30px;
        border: 2px solid #E17B31;
        transition: all .3s;
        &:hover{
          background-color: #E17B31;
        }
      }
      &--info{
        position: relative;
        padding-right: 21px;
        &::before{
          content: '';
          position: absolute;
          background-image: url('../images/icons/arrow-info.png');
          background-repeat: no-repeat;
          height: 20px;
          width: 16px;
          right: 0;
          top: -2px;
          transition: all .3s;
        }
      }
    }
    &-cart{
      padding-left: 19px;
      position: relative;
      @include flex-center;
      cursor: pointer;
      span{
        position: absolute;
        top: 17px;
        right: 2px;
        font-size: 8px;
        color: #fff;
        width: 10px;
        height: 10px;
        background-color: $accent;
        border-radius: 50%;
        @include flex-center;
        @extend %mon-500;
        line-height: 10px;
      }
    }
  }
}

.drop-down{
  opacity: 0;
  visibility: hidden;
  width: 431px;
  background: rgba(48, 46, 47, 0.95);
  border-radius: 0px 0px 30px 30px;
  position: absolute;
  top: 80px;
  right: -240px;
  z-index: 1;
  @include flex-between;
  transition: all .3s;
  &.drop-down--active{
    opacity: 1;
    visibility: visible;
  }
  &__item{
    @include flex-column (flex-start);
    padding-bottom: 25px;
    &-link{
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      padding-top: 25px;
      &:not(:last-child){
        border-bottom: 0.5px solid #525252;
        padding-bottom: 14px;
        
      }
    }
    &:first-child{
      .drop-down__item-link{
        width: 179px;
        padding-left: 25px;
        
      }
    }
    &:last-child{
      .drop-down__item-link{
        width: 163px;
        margin-right: 25px;
      }
    }
    
  }
}





@import 'media';